portal/src/main/webapp/resources/static/schemas/xmlLoadResource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xmlLoadResource" type="xmlLoadResourceType">
		<xs:annotation>
			<xs:documentation>
    			xmlLoadResource - describes load resource information that can be used
    		</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="xmlLoadResourceType">
		<xs:sequence>
			<xs:element name="status" type="xs:boolean"/>
			<xs:element name="oid" type="xs:string"/>
			<xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
